# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
insert_final_newline = false
indent_size = unset

# noinspection EditorConfigKeyCorrectness
[*.{kt, kts}]
disabled_rules = import-ordering, no-wildcard-imports

# noinspection EditorConfigKeyCorrectness
[*.gradle.kts]
disabled_rules = import-ordering, no-wildcard-imports